#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* width: 100%; 100% laiust, mille sees ta on
  vw --> view width ehk ekraani (brauseri) laius protsentides
  */
  width: 100vw;
}
